/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

dialog {
  padding: 0;
}

.page {
  font-family: var(--main-font), sans-serif;
  background-image: var(--background-img);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--card-text-font-weight), "wdth" 100;
}

header,
main {
  justify-self: center;
}

main {
  display: grid;
  justify-items: center;
  gap: 50px;
}

.header {
  display: grid;
  width: var(--width-content); /*100%;*/
  font-family: var(--accent-font), fantasy;
}

.title__header {
  display: grid;
  justify-self: center;
  gap: 20px;
  align-self: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  border: solid var(--border-width) #000;
  text-transform: uppercase;
  background-color: #fff;
}

.main__title {
  justify-self: center;
  align-self: end;
  margin-top: var(--header-margin);

  font-weight: normal;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.title {
  justify-self: center;
  align-self: start;

  margin-bottom: var(--header-margin);

  font-weight: normal;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.btn {
  display: grid;
  border: solid var(--border-width) #000;
  padding: 0;
  outline: none;
  background-color: #fff;
}

.btn:hover {
  cursor: pointer;
}

.btn:focus,
.btn:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  outline: none;
}

.card {
  display: grid;
  width: var(--width-content);
  border: solid var(--border-width) #000;
  background-color: #fff;
}

.card__title {
  /*width: 100%;
  border-bottom: solid var(--border-width) #000;*/
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  font-size: 18px;
  /*font-weight: 700;
  font-size: 18px;*/
  font-variation-settings: "wght" 700, "wdth" 5;
}

.card__text__section {
  display: grid;
  gap: 27px;
  padding: 25px;
}

.card__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /*font-variation-settings: "wght" 400;
  letter-spacing: 0.045rem;*/
}

.card__image__section {
  position: relative;
  display: grid;
  border-bottom: solid var(--border-width) #000;
}

.card__image {
  display: block;
  width: 100%;
  height: auto;
  background-blend-mode: hard-light;
}

.card__label {
  position: absolute;
  z-index: 1;
  justify-self: end;
  opacity: 50%;
  font-family: var(--accent-font), fantasy;

  font-weight: normal;

  font-size: 14px;
  text-shadow: -1px -1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff,
    1px 1px 0px #fff;
  inset-block-start: 25px;
  inset-inline-end: 13px;
  mix-blend-mode: hard-light;
}

.reaction {
  display: flex;
  justify-self: end;
  align-items: center;
  gap: 5px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.card__like-button {
  gap: 12px;
  width: var(--button-like-width);
  /*padding: 0;*/
  height: var(--button-like-height);
}

.card__icon-button {
  height: 39px;
  border: solid var(--border-width) #00000000;
}

.card__icon-button:focus {
  box-shadow: none;
  outline: none;
}

.card__icon-button:focus-visible {
  border: solid var(--border-width) var(--accent-color);
  box-shadow: none;
  outline: none;
}

.card__icon-button:hover {
  --heart-core-color: var(--accent-color);
  --heart-body-color: var(--accent-color);
  cursor: pointer;
}

.card__icon-button:active {
  --heart-core-color: red;
  --heart-body-color: red;
}

.card__icon-button:has(.is-liked) {
  --heart-core-color: red;
  --heart-body-color: red;
}

.like-icon.is-liked .contour {
  --heart-contur-color: red;
}

.like-icon:not(.is-liked) .contour {
  --heart-contur-color: #000;
}

svg .sparks {
  opacity: 0;
}

/*footer {
  margin-top: var(--save-btn-top-gap);
  padding-bottom: 100px;
}*/

.button__text {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  mix-blend-mode: difference;
}

.button__text::before {
  content: "";
  position: absolute;
  z-index: 0;
  /*width: calc(var(--button-like-width) - 4px);
  height: calc(var(--button-like-height) - 4px);*/
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: scaleX(0);
  /*justify-self: start;
  align-self: start;*/
  inset-block-start: 0;
  inset-inline-start: 0;
  mix-blend-mode: difference;
}

.save__button {
  width: var(--button-save-width);
  height: var(--button-save-height);
  margin-bottom: 100px;
  line-height: 90%;
}

/*.save__button .button__text::before {
  width: calc(var(--button-save-width) - 4px);
  height: calc(var(--button-save-height) - 4px);
}*/

.button__dialog .button__text::before {
  align-self: start;
  /*width: calc(var(--button-dialog-width) - 4px);
  height: calc(var(--button-dialog-height) - 4px);*/
}

.button__text:hover::before {
  transform: scaleX(1);
}

.btn__png {
  fill: #fff;
}

.isert-disk {
  border-width: 2px;
}

.isert-disk:not([open]) {
  pointer-events: none;
}

.isert-disk::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.isert-disk:open {
  display: grid;
  /*grid-template-columns: min-content 1fr;*/
  grid-template-rows: min-content min-content;
  justify-items: center;
  align-items: center;
  gap: 30px;
  padding: 30px var(--dialog-horizontal-padding);
  /*padding: ;*/
}

.dialog__msg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 20px;
  /*не понимаю почему снизу у окна несоответсвие с макетом. все отступы вроде перепроверил. возможно граница такой эфект дает*/
}

.dialog__title {
  max-width: 200px;
  margin-bottom: 0;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.form__dialog {
  display: grid;
  /*grid-column-start: 1;
  grid-column-end: 3;*/
  width: 100%;
  /*min-height: 38px;*/
}

.button__dialog {
  display: inline;
  width: var(--button-dialog-width);
  height: var(--button-dialog-height);
  text-transform: uppercase;
}

.filter__sepia {
  filter: sepia(80%);
}

.filter__acid {
  filter: saturate(300%);
}

.filter__twilight {
  filter: saturate(25%);
}

.filter__negative {
  filter: invert(80%);
}

.filter__sunset {
  filter: hue-rotate(0.1turn);
}

.filter__blur {
  filter: blur(6px);
}

.filter__fog {
  filter: hue-rotate(0.25turn) blur(1px) contrast(50%);
}

/*.button__text::before{
  content: '';
  background-color: #000;  
  block-size: 100%;
  inline-size: 100%;
  position: absolute;  
  transition: transform 0.5s 0.2s;
  transform: translate(-100%);
  z-index: 0;
}

.button__text:is(:hover)::before {  
  transform: translate(0);
}
*/

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

@media (width > 375px) {
  :root {
    /*--save-btn-top-gap: 50px;*/
    --dialog-horizontal-padding: 30px;
  }

  .main__title {
    margin-right: clamp(0.875rem, -1.4577rem + 9.9531vw, 7.5rem);
    margin-left: clamp(0.875rem, -1.4577rem + 9.9531vw, 7.5rem);
  }

  .title {
    font-stretch: condensed;
  }

  .save__button {
    --button-save-height: 53px;
    --button-save-width: 339px;
  }

  .card__image {
    display: block;
  }

  .button__text {
    /*grid-auto-flow: column;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    line-height: 90%;
  }

  /*.save__button .btn__png {
    align-self: end;
  }

   .save__button .button__text {
    align-self: end;
  }*/

  .btn__png {
    width: 21px;
    height: 21px;
  }

  .card__label {
    inset-inline-end: 25px;
  }

  main {
    gap: 52px;
  }
}
